<% if @correct %>
  <h2 class="feedback correct">Correct! The answer is <%=@card.answer%>.</h2>
<% else %>
  <h2 class="feedback wrong">Get studying! The correct answer is <%=@card.answer%>.</h2>
<% end %>