<h2><%= @card.question %><h2>

<form action="/guess" method="POST">
  <input type="text" name="guess" placeholder="Your guess here...">
  <input type="hidden" name="card_id" value="<%= @card.id %>">
  <input type="submit" value="Submit">
</form>
