<div class="container">
  <h2> Choose a deck to start. <h2>
    <ul>
      <% @decks.each do |deck| %>
      <li><a href="/rounds?deck_id=<%=deck.id%>"><%=deck.name%></a></li>
      <% end %>
    </ul>
</div>
