
<h1>Welcome to Flash Cards Online, Inc.</h1>

<h3> Log in here: </h3>

<form action='/sessions' method='post'>
  <input type="text" name="user[username]" placeholder="Username" required>
  <input type="password" name="user[password]" placeholder="Password" required>
  <input type="submit" value="Login">
</form>

<br />
<br />
<h3> New to Flash Cards Online, Inc? </h3>
<h3> Sign up here: </h3>

<form action='/users' method='post'>
  <input type="text" name="user[username]" placeholder="Username" required>
  <input type="password" name="user[password]" placeholder="Password" required>
  <input type="submit" value="Sign In">
</form>